@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name's Info:</h1>
<ul>
    <li>ID: @Model.DestinationId</li>
    <li>Name: @Model.Name</li>
    <li>State: @Model.State</li>
    <li>Country: @Model.Country</li>
    <li>Description: @Model.Description</li>
    <li>Rating: @Model.Rating</li>
</ul>
<br>

<a href="/Destinations/Edit/@(Model.DestinationId)"><p>Edit</p></a>

<a href="/Destinations"><p>Return</p></a>

<a href="/Destinations/Delete/@(Model.DestinationId)"><h3>Delete</h3></a>